export(get.snippet, create.snippet.comment, .get.git.res, .get.snippet.res,  get.snippet.without.comments, get.snippet.comments, get.snippet.user.comments, create.snippet, delete.snippet, modify.snippet, fork.snippet, genNonce.sni, encodeURI.sni, oauthGET.sni, normalizeParams.sni, oauthPOST.sni, signRequest.sni, signString.sni, signWithRSA.sni, parseResponse.sni, authenticate.sni, sni.post.request, sni.get.request, sni.delete.request, create.snippet.context, POST, content)

import(rediscc)
